*{
    box-sizing: border-box;
    /* border: 1px solid red; */
background-color: #FFFFED;
}

.button{
    color: #BB3E18;
font-size: 20px;    
}

div {
 width: 800px;
 margin-left: auto;
 margin-right: auto;
}
.title{
    text-align: center;
    background-color: #BB3E18;
    color: #FFFFED;
    margin-bottom: 10px;
    padding: 10px;
}

.lumpia-image{
    width: 600px;
    height: 400px;
    display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 40px;
 margin-bottom: 40px;

}

h2 {
    font-family: sans-serif;
    background-color: #BB3E18;
    padding: 10px;
}

.descrip{
    color: #FFFFED;
}

.descrip.des{
    color: #2F4F4F;
    padding-left: 25px;
    padding-right: 25px;
}

.ingl{
    margin: 0;
    color: #FFFFED;
}

.ing-list{
    color: #2F4F4F;
}

.steps{
    color: #FFFFED;
}

.steps.des{
    color: #2F4F4F;
}